//strona login kolory
		//kolry dla tekstu
		$basic-text-color: #ffffff;
		$basic-header-color: #ffffff;
		$secondary-text-color: #000000;
		$menu-link-color: #abaeb1; 
		
		//kolor boxu logowania
		$main-color: #13bdd2;

		//Ramki
		$box-border-color: #47cbdc;

		//tło ikony
		$icon-background: #47cbdc;

		//kolory tła
		$box-background:  #13bdd2;
		$avatar-background: #ffffff;

		//formularz
		$input-shadow: #c7c7c7;
		$second-button-color: #ffffff;

//strona dashboard i grywalizacja kolory
        $pink-log-off-color: #e21a61;
        $second-pink-color: #e81c7b;
        $white-color: #ffffff;
        $black-color: #000000;
        $grey-background-color: #d9dada;
        $dark-orange-color: #fc8b00;
        $dark-yellow-color: #fec500;
        $grey-chart-date-color: #dfe1e1;
        $the-darkest-blue-color: #0579b6;
        $second-dark-color: #0685bc;
        $third-dark-color: #0893c2;
        $medium-blue-color: #0ca7ca;
        $green-text-color: #6eb512;
        $light-green-color: #01cc01;
        $light-grey: #eaeaea;
        $medium-grey: #aeaeae;
