h2{
	color: $medium-grey;
}
//ikona serce bicie
.fa-heart-o{
	animation: beat 1s infinite;
	}
.heart-section{
	animation: backgroundSet 12s;
}
	


//przycisk
 @mixin elementaryButton{
 	font-size: $basic-font-size;
 	line-height: $basic-line-height;
	color: $main-color;
	background-color: $white-color;
	text-decoration: none;
	display: inline-block;
	font-weight: 400;
	text-transform: uppercase;
	margin: 6px 0;
	padding: 10px 30px;
	border: 2px solid $main-color;
	
}

	

 @mixin elementaryButtonHover{
 	color: $white-color;
	background: linear-gradient($main-color, $light-beetroot-color);
 }



.navleft{
	z-index: 99;
	position: fixed;
	top: 30px;
	@include breakpoint(large) {
 					left: 15px;
	       			}
	ul{
		list-style-type: none;
		margin-left: 5px;
		li{		
			margin-bottom: 52px;
			
			a{
				@include size(65px,65px);
				border-radius: 50%;
				background: $main-color;
				opacity: 0.6;
				display: inline-block;
				@include breakpoint(small only) {
 					@include size(50px,50px);
 					opacity: 0.4;
	       			}
				&:hover{
					opacity: 1;
				}	
				
				i{
					line-height: 65px;
					font-size: 30px;
					color: $white-color;
					@include breakpoint(small only) {
 						line-height: 50px;
 						font-size: 20px;
	       			}		
				}

				
			}
			
		}
	}
}

.code-section{
	padding: 60px 0 40px;
	.icon-wrapper{
	background: $light-beetroot-color;
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($light-beetroot-color, $main-color); /* For Firefox 3.6 to 15 */
    background: linear-gradient($light-beetroot-color 50%, $main-color); /* Standard syntax */
		border-radius: 50%;
		@include size(20rem,20rem);
		margin: 20px auto;
		@include rwd;
		i{
			color: $white-color;
			font-size: 120px;
			margin-bottom: 20px;
			line-height: 20rem;
			animation: gitIconResize 2s infinite;
		}
	}
	div{
		a{
			@include elementaryButton;
			&:hover{
				@include elementaryButtonHover;
			}
		}
	}
	.arrow-container{
		padding-top: 190px;
		a{
			&:hover{
				@include elementaryButtonHover;
			}
		}
		.arrow-wrapper{ 
				overflow: auto;
				display: inline-block;
				border-radius:50%;
				@include elementaryButton;
				padding: 10px 22px;
				i{
					font-size: 55px;
					}
				}
		
	}	

}
.heart-section{
	background: $main-color;
	padding: 211px 0;
	i{
		font-size: 185px;
		color: $white-color;
	}
	.arrow-container{
		padding-top: 190px;
		a{
			&:hover{
				@include elementaryButtonHover;
			}
		  	i{
		  		font-size: 55px;
		  		color: $main-color;
		  	}
		}
		
	}
}
@keyframes gitIconResize{
	0%{
		font-size: 120px;
		
	}
	50%{
		font-size: 160px;
		color: pink;
		
	}
	100%{
		font-size: 200px;
		
	}
}
@keyframes backgroundSet{
	0%{
		background: $light-beetroot-color;
	}

	100%{
		background:$main-color; 
	}
}
@keyframes beat{

0% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}
30% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    color: #f6737c;
}
31% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    color: #f52331;
}
100% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    color: #f6525e;
}


}


.gallery {
	padding:  70px 0;
	background: $white-color;
	div{
		padding: 0;
	}
	
}

.photo{
	@include size(375px,210px);
	@include photoSet;
	@include rwd;
	margin: 15px auto ;
	opacity: 0.8;
	transform: scale(1);
	transition: opacity .3s,transform .3s;
	@include breakpoint(large) {
 				@include size(409px,225px);	
 				margin: 0; 
 				&:hover{
 					transform: scale(1) !important;	
 				}
	       			}
	@include breakpoint(medium only) {
 					@include size(575px,310px);
	       			}
	&:hover{
		opacity: 1;
		transform: scale(1.1);
	}
	&:hover .photo-hover{
		opacity: 0.7;
	}

}

.photo-hover{
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: $main-color;
	opacity: 0;
	.photo-hover-inner{
		@include centerVertical;
		p{
			font-size: 20px;
			i{
				font-size: 50px;
			}
		}
	}
}

.first-photo{
	background-image: url("../img/obrazek1.jpg");
	&:hover{
		background-image: url("../img/obrazek_z_ramka_rozmyta1.jpg");
	}
	&:active{
		background-image: url("../img/obrazek_z_ramka1.jpg");
	}
}

.second-photo{
	background-image: url("../img/obrazek2.jpg");
	&:hover{
		background-image: url("../img/obrazek_z_ramka_rozmyta2.jpg");
	}
	&:active{
		background-image: url("../img/obrazek_z_ramka2.jpg");
	}
}

.third-photo{
	background-image: url("../img/obrazek3.jpg");
	&:hover{
		background-image: url("../img/obrazek_z_ramka_rozmyta3.jpg");
	}
	&:active{
		background-image: url("../img/obrazek_z_ramka3.jpg");
	}
}

.fourth-photo{
	background-image: url("../img/obrazek4.jpg");
	&:hover{
		background-image: url("../img/obrazek_z_ramka_rozmyta4.jpg");
	}
	&:active{
		background-image: url("../img/obrazek_z_ramka4.jpg");
	}
}

.fifth-photo{
	background-image: url("../img/obrazek7.jpg");
	&:hover{
		background-image: url("../img/obrazek_z_ramka_rozmyta7.jpg");
	}
	&:active{
		background-image: url("../img/obrazek_z_ramka7.jpg");
	}
}

.sixth-photo{
	background-image: url("../img/obrazek6.jpg");
	&:hover{
		background-image: url("../img/obrazek_z_ramka_rozmyta6.jpg");
	}
	&:active{
		background-image: url("../img/obrazek_z_ramka6.jpg");
	}
}



.contact-section{
 
 	background: url('../img/portfolio-baner.jpg') fixed 0 0;
 	.contact-section-inner{
 		position: relative;
 		z-index: 0;
 		&:after{
 			@include red-flap(100%);
 		}
 		.container{
 			position: relative;
 			z-index: 1;
 			padding: 200px 0 ;	
 			p{
 				color: $white-color;
 				font-size: 24px;
 			}
 			i{
 				font-size: 120px;
 			}

 		}
	}
}

.contact-section-2{
	position: relative;
	width: 100%;

	//min-width: 31.5rem;
	#contact-section-inner-2{
		
		position: absolute;
		width: 100%;
		height: auto;
		padding-top: 31.25%;
		background-color: red;//transparent;
		overflow: hidden;
		clip: rect(0,auto,auto,0);
		
 		&:after{
 			//@include red-flap(100%);
 		}
		#container-2{
	
			    position: fixed;
			    bottom: 0;
			    width: 100%;
			    min-width: 976px;
			    //min-width: 31.5rem;
			    -webkit-filter: blur(8px);
			    //-moz-filter: blur(8px);
			    -o-filter: blur(8px);
			    -ms-filter: blur(8px);
			    //filter: blur(8px);
			    background: url('../img/photo-background.jpg');
			    p{
			    	font-size: 40px;
			    	
			    }
			    .contact-content-2{
			    	-webkit-filter: blur(0px);
			    //-moz-filter: blur(8px);
			    -o-filter: blur(0px);
			    -ms-filter: blur(0px);
			    }
			}
				
		}
	}

